{% extends "status_room/base.html" %}
{%load static%}

{%block extra-css %}
<link rel="stylesheet" href="{% static 'status_room/css/index.css' %}">
{% endblock %}

{% block contents %}

<section id="available_users_list">
  <table class="table table-borderd">
    <caption>
      <img src="{% static 'status_room/img/people.png'%}" height="30px">
      <span style="white-space:nowarp">在室者一覧</span>
      <i class="fas fa-sync-alt ml-3 result"></i>
    </caption>
    <thead>
      <tr>
        <th>
          <img src="{% static 'status_room/img/person.png'%}" height="30px">
          <span style="white-space:nowarp">氏名</span>
        </th>
        <th>
          <img src="{% static 'status_room/img/clock.png'%}" height="30px">
          <span style="white-space:nowarp">入室時刻</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in all_stat %}
      <tr>
        <th>{{i.username}}</th>
        <td>{{i.time_in}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
