{% extends "status_room/base.html" %}
{%load static%}

{%block extra-css %}
<link rel="stylesheet" href="{% static 'status_room/css/index.css' %}">
{% endblock %}

{% block contents %}

<section id="available_users_list">
  <table class="table table-borderd">
    <caption>
      <span style="font-size:1.5em;"><i class="fas fa-clipboard-list"></i></span>
      <span style="white-space:nowrap">在室者一覧</span>
      <i class="fas fa-sync-alt ml-3 result"></i>
    </caption>
    <thead>
      <tr>
        <th>
          <span style="font-size:1.75em;"><i class="fas fa-user"></i></span>
          <span style="white-space:nowrap">氏名</span>
        </th>
        <th>
          <span style="font-size:1.75em;"><i class="far fa-clock"></i></span>
          <span style="white-space:nowrap">入室時刻</span>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for i in all_stat %}
      <tr>
        <th>{{i.username}}</th>
        <td>{{i.time_in}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
