{% extends "status_room/base.html" %}
{%load static%}
{% block contents %}
<form action="" method="POST">
  <div class="col-sm-8 col-md-6 col-lg-6 offset-sm-2 offset-md-3 offset-lg-3 mt-5">
    <div class="card">
      <div class="card-body">
        {# {{ form.non_field_errors }} #}
        {% for field in form %}
          {{ field }}
          {# {{ field.errors }} #}
          <hr>
        {% endfor %}
        <button type="submit" class="btn btn-success btn-lg btn-block">
          <img src="{% static 'status_room/img/key.png' %}" alt="key" height="30px">
          <span style="white-space:nowarp">ログイン</span>
        </button>
        {% csrf_token %}
      </div>
    </div>
  </div>
</form>
{% endblock %}
