{% extends "console/base.html" %}
{%load static%}

{%block extra-css %}
<link rel="stylesheet" href="{% static 'console/css/index.css' %}">
{% endblock %}

{% block contents %}

<section id="available_users_list">
  <table class="table table-borderd">
    <caption>在室者一覧<i class="fas fa-sync-alt ml-3 result"></i></caption>
    <thead>
      <tr>
        <th>氏名</th>
        <th>入室時刻</th>
      </tr>
    </thead>
    <tbody>
      {% for i in all_stat %}
      <tr>
        <th>{{i.user.name_ja}}</th>
        <td>{{i.time_in}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>

{% endblock %}
