{%load static%}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}|曽研究室利用管理システム</title>
    <link rel="shortcut icon" href="{% static 'console/img/fit_jc_banner.svg' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'console/js/status_available.js' %}"></script>
  </head>
  <body>
    <header>
      <h1>曽研究室利用管理システム</h1>
    </header>
    <nav>
      <p>{{username}}さん</p>
      <ul>
        <li><a href="{% url 'logout' %}">ログアウト</a></li>
        <li><a href="{% url 'index' %}">ホーム</a></li>
        <li><a href="{% url 'status_all' %}">在室者確認</a></li>
        {% if authenticated %}
        <li><a href="{% url 'status_all' %}">研究室の今</a></li>
        {% endif %}

      </ul>
    </nav>
    <main>
      {% block contents %}{% endblock %}
    </main>
  </body>
</html>
